version: '3.8'
services:
  # 1. PostgreSQL Database
  postgres:
    image: postgres:15-alpine
    container_name: etl-football-db
    environment:
      POSTGRES_USER: football_user
      POSTGRES_PASSWORD: "12345"
      POSTGRES_DB: ETL_FOOTBALL
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U football_user -d ETL_FOOTBALL"]
      interval: 10s
      timeout: 5s
      retries: 5
  #2.  ETL service
  etl-worker:
    build: .
    container_name: etl-worker
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      etl_football_base_dir: /app
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: football_user
      DB_PASSWORD: "12345"
      DB_NAME: ETL_FOOTBALL
    volumes:
      - .:/app
      - ./data_raw:/app/data_raw
      - ./data_processed:/app/data_processed
    command: >
      sh -c "python scr/Extract.py && python scr/Transform.py && python scr/Load.py"
  # 3. Streamlit Dashboard
  dashboard:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: etl-football-dashboard
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: etl_user
      DB_PASSWORD: etl_password
      DB_NAME: etl_football
    ports:
      - "8501:8501"
    volumes:
      - .:/app
    command: streamlit run scr/ui.py --server.port=8501 --server.address=0.0.0.0

volumes:
  postgres_data: